body {
    width: 100%;
}
header {
    height: 50px;
}
#bee {
    width: 45px;
    height: 45px;
}
.header-container {
    min-width: 300px;
    height: 50px;
    width: 95%
}
#logotype {
    font-size: 15px;
    width: 150px;
}
#borough-select {
    width: 150px;
    height: 40px;
    background-color: rgba(0,0,0,0);
    border: 1px #404040 solid;
    border-radius: 5px;
    font-size: 15px;
    text-indent: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}
#container {
    width: 100%;
}
#content {
    padding-bottom: 20px;
}
footer {
    width: 100%;
}
#content {
    padding-top: 50px;
}
.boroughheader {
    height: 30vh;
}
.boroughheader img {
    height: 30vh;
}
.schemebox {
    max-height: 300px;
}
.schemebox.active {
    max-height: 1000px;
}
.schemesummary {
    height: 300px;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}
.infobox {
    max-height: 600px;
    flex-direction: column;
}
.infodetails {
    width: 100%;
}
.infolinks {
    width: 100%;
}
.schemesummary h2 {
    order: 1;
    width: 50%;
    margin: 0;
}
.box {
    order: 4;
    padding-bottom: 10px;
    width: 33%
}
.statebox {
    order: 2;
    width: 50%;
    margin: 0;
}
.stateheader {
    width: 90%;
}
.statecontent {
    width: 90%;
    font-size: 15px; 
}
.statsbox {
    order: 3;
}
.statsbox p {
    font-size: 12px;
}
.schemesummary .moreinfocontainer {
    order: 5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.progressbarcontainer {
    width: 80%;
    max-width: 300px;
}
.progressbar {
    width: 100%;
}
footer {
    height: 80px;
    text-align: center;
    position: inherit;
}